/* Write your CSS here */
.login-button {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #303150;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
}
